<html ng-app="visualizations">

<head>
	<link rel="stylesheet" type="text/css" href="build/style.css">
</head>

<body class="container" ng-controller="RootController as rootCtrl">
	<header class="header">
		<h1>Visualizations</h1>
	</header>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" ng-class="{'active': rootCtrl.activeTab === 'force'}" ng-href="/#/force" ng-click="rootCtrl.activeTab = 'force'">Force</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" ng-class="{'active': rootCtrl.activeTab === 'time'}" ng-href="/#/time" ng-click="rootCtrl.activeTab = 'time'">Time</a>
		</li>
	</ul>
	<div ng-view></div>
	<script src="build/vendor.min.js"></script>
	<script src="build/visualization.min.js"></script>
</body>

</html>